.navInner {
  height: 70px;
  display: flex;
  justify-content: space-between;
  align-items: center;

  .cta {
    font-size: 15px;
    background-color: #211c1c;
    color: white;
    padding: 10px 30px;
    font-weight: 500;
    border-radius: 50px;
  }
}